<%# Knapsack-level footer override. Enact footer when on the enact home theme;
    Hyku default otherwise. Only renders on splash and homepage controllers
    (see hyrax-webapp/app/views/layouts/hyrax.html.erb line 34-36). %>

<% current_year = Time.now.year %>

<% if respond_to?(:home_page_theme) && home_page_theme.to_s == 'enact' %>
  <footer class="enact-footer">
    <div class="enact-footer__inner">
      <div class="enact-footer__brand">
        <div class="enact-footer__wordmark">Enact</div>
        <div class="enact-footer__tagline">UK Practice Research Repository</div>
      </div>

      <nav class="enact-footer__nav" aria-label="footer">
        <ul>
          <li><%= link_to 'Browse', main_app.search_catalog_path %></li>
          <li><%= link_to 'About', main_app.root_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to t('hyrax.toolbar.profile.logout'), main_app.destroy_user_session_path %></li>
          <% else %>
            <li><%= link_to t('hyku.footer.admin_login', default: [:'hyrax.toolbar.profile.login']), main_app.new_user_session_path %></li>
          <% end %>
          <li><%= render 'hyrax/base/privacy_policy' %></li>
        </ul>
      </nav>

      <div class="enact-footer__colophon">
        <div><%= t('hyrax.footer.copyright_html', current_year: current_year) %></div>
        <div class="enact-footer__platform">
          Powered by Hyku v<%= Hyku::VERSION %> · Hyrax v<%= Hyrax::VERSION %>
          <%= ENV.fetch('HYKU_FOOTER_EXTRA', '').html_safe %>
        </div>
      </div>
    </div>
  </footer>
<% else %>
  <%# Hyku default. Kept verbatim from hyrax-webapp/app/views/shared/_footer.html.erb. %>
  <footer class="navbar navbar-dark container-fluid">
    <div class="row navbar-text text-center">
      <div class="col-12 col-lg-6 text-lg-left">
        <div class="p-1 p-lg-2"><%= t('hyrax.footer.service_html') %> <%= ENV.fetch('HYKU_FOOTER_EXTRA', '').html_safe %></div>
        <div class="p-1 p-lg-2">Hyku v<%= Hyku::VERSION %> with Hyrax v<%= Hyrax::VERSION %></div>
      </div>

      <div class="col-12 col-lg-6 text-lg-right">
        <div class="p-1 p-lg-2">
          <%= t('hyrax.footer.copyright_html', current_year: current_year) %>
          <%= t('hyrax.background_attribution_html') %>
        </div>
        <div class="p-1 p-lg-2">
          <% if user_signed_in? %>
            <%= link_to t('hyrax.toolbar.profile.logout'), main_app.destroy_user_session_path, class: 'navbar-link' %>
          <% else %>
            <%= link_to t('hyku.footer.admin_login', default: [:'hyrax.toolbar.profile.login']), main_app.new_user_session_path, class: 'navbar-link' %>
          <% end %>
          <span class="navbar-link"><%= render 'hyrax/base/privacy_policy' %></span>
        </div>
      </div>
    </div>
  </footer>
<% end %>
